<html>
<head>
<title>Japanese Vehicules.com</title><img height="200" src="http://t0.gstatic.com/images?q=tbn:ANd9GcQpkQXUM5WvB67rSL7fB-lrx7WljifXUVVxEFFDcOi1ZMX3tYXl" alt="Sedy" style="float:left; margin:0 5px 0 0;" /></a><object width="420" height="315"><param name="movie" value="//www.youtube.com/v/M0xNVAy1gkQ?hl=fr_FR&amp;version=3&amp;rel=0&autoplay=2"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/M0xNVAy1gkQ?hl=fr_FR&amp;version=3&amp;rel=0&autoplay=2" type="application/x-shockwave-flash" width="320" height="215" allowscriptaccess="always" allowfullscreen="true" style="float:right;" ></embed></object>

</head>
<body>
<div id="main">
<h1>JapaneseVehicules.com</h1>
<hr>
<h2> Sale and Export of Japanese Used Cars
</h2>
<h3>Quality Used Vehicles - Timely Shipping - Reliable Service </h3>
<a href="http://www.japanesevehicles.com/index.php?lang=en"><img height="200" src="http://www.japanesevehicles.com/images/Trust-Square-logo.png" /></a>
<p>
<h4>"Great Deal for the week"</h4>

<table border="1", cellpadding="15", align="center">
    <tr>
     <th>Make</th>&nbsp;&nbsp;&nbsp;

     <th>Model</th>&nbsp;&nbsp;&nbsp;

     

     <% Car.all.each do |car| %>
     <tr>
        <td width="40%"><%= car.make %></td>&nbsp;&nbsp;&nbsp;
        <td width="20%"><%= car.model %></td>&nbsp;&nbsp;&nbsp;
      </tr>
    <% end %>
  </table>

<table border="1", cellpadding="15", align="center">
    <tr>
     <th>car_name</th>&nbsp;&nbsp;&nbsp;

     <th>distance</th>&nbsp;&nbsp;&nbsp;

     <th>type</th>&nbsp;&nbsp;&nbsp;

     <th>colour</th>&nbsp;&nbsp;&nbsp;

     <th>steering</th>&nbsp;&nbsp;&nbsp;

     <th>fuel</th>&nbsp;&nbsp;&nbsp;

     <th>seats</th>&nbsp;&nbsp;&nbsp;

     <th>year</th>&nbsp;&nbsp;&nbsp;

     <th>price</th>&nbsp;&nbsp;&nbsp;
    </tr>

     <% Info.all.each do |info| %>
     <tr>
        <td width="40%"><%= info.car_name %></td>&nbsp;&nbsp;&nbsp;
        <td width="20%"><%= info.distance %></td>&nbsp;&nbsp;&nbsp;
        <td width="60%"><%= info.type %></td>&nbsp;&nbsp;&nbsp;
        <td width= "20%"><%= info.colour %></td>&nbsp;&nbsp;&nbsp;
        <td width="60%"><%= info.steering %></td>&nbsp;&nbsp;&nbsp;
        <td width="60%"><%= info.fuel %></td>&nbsp;&nbsp;&nbsp;
        <td width="60%"><%= info.seats %></td>&nbsp;&nbsp;&nbsp;
        <td width="60%"><%= info.year %></td>&nbsp;&nbsp;&nbsp;
        <td width="60%"><%= info.price %></td>&nbsp;&nbsp;&nbsp;
      </tr>
    <% end %>
  </table>
     

     
</p>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="-form" style="float:center"><br style="clear:center" /><br style="clear:center" /> 
<h3>Are you interested? please submit a form by cliking this link below</h3></b><br/></b><br/>
<font size="5pt"><b><%= link_to 'Contact_us here', new_message_path %></font><br/><br/><br/><br/><br/><br/>
<table class="centerTable" style="margin: 0px auto;">
  <thead>
    <tr>
      
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last_name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Message&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.name %></td>
        <td><%= message.last_name %></td>
        <td><%= message.phone %></td>
        <td><%= message.email %></td>
        <td><%= message.message %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>



